
@{
    ViewBag.Title = "Index";
}
@*<div class="col-md-4">
    <select class="form-control" id="CourseSelect"></select>
</div>*@

<hr/>

<h2>Courses</h2>
<!-- Button trigger modal -->
<button id="create" type="button" class="btn btn-success">
    <i class="fas fa-user-plus"> </i> Create
</button>
<hr />
<div id="rowCourses">
    <div id="divCourses">
        <table id="tableCourses" class="table table-bordered" style="width 100%"></table>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="modalCourses" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Courses</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        getCourses();
        getCoursesList();
    });

    $("#create").click(function () {
        $("#modalCourses .modal-body", this).empty();
        $("#modalCourses .modal-body").load("/Courses/Create");
        $("#modalCourses").modal("show");
    });

    function getCourses() {
        var $row = $('#rowCourses');
        $('#divCourses').remove();
        var $div = $('<div></div>');
        $div.addClass('table-responsive mb-5');
        $div.attr({ id: 'divCourses' });
        $div.addClass('divCourses mb-5');
        var $table = $("<table></table>");
        $table.addClass('table table-bordered display text-center');
        $table.attr({ id: 'tableCourses', width: '100%' });
        $div.append($table);
        $row.append($div);

        $.get('/Courses/IndexJson').done(function (data) {
            $.notify("Load data", "info");
            console.table(data);

            table = $('#tableCourses').DataTable({
                data: data,
                "iDisplayLength": 10,
                "order": [[0, "desc"]],
                columns: [
                    { title: 'ID', data: 'CourseID', className: 'd-none' },
                    { title: 'Title', data: 'Title' },
                    { title: 'Credits', data: 'Credits' },
                    { title: 'Options', data: null }
                ],
                columnDefs: [
                    {
                        targets: 3,
                        render: function (data, type, row) {
                            return '<a href="javascript:void" class="btn btn-warning edit fas fa-edit"></a>' +
                                '<a href="javascript:void" class="btn btn-danger fas delete fa-trash"></a>';
                        }
                    }
                ]
            });

            $('#tableCourses').on('click', 'tbody a.edit', function (e) {
                let id = $(this).parent().siblings('td')[0].innerText;

                $('#modalCourses .modal-body', this).empty();
                $('#modalCourses .modal-body').load('/Courses/Edit/' + id);
                $("#modalCourses").modal("show");
            });

            $('#tableCourses').on('click', 'tbody a.delete', function (data) {
                let id = $(this).parent().siblings('td')[0].innerText;
                deleteCourse(id);
            });

        }).fail(function (data) {
            console.table(data);
        });
    }

    function deleteCourse(id) {
        $.get("/Courses/Delete/" + id).done(function (data) {
            if (data.IsSuccess) {
                getCourses();
            } else {
                $.notify(data.Message, "error")
            }
        }).fail(function (data) {
            console.table(data);
        })
    }

    function getCoursesList() {
        $.get('/Courses/GetCourses', function (data) {
            $("#CourseSelect").empty();
            $("#CourseSelect").select2({
                placeholder: "Seleccione",
                data: JSON.parse(data)
            });
            $("#CourseSelect").val("").trigger("change");
        });
    }

</script>
