
@{
    ViewBag.Title = "Index";
}

<h2>Students</h2>
<!-- Button trigger modal -->
<button id="create" type="button" class="btn btn-success">
    <i class="fas fa-user-plus"> </i> Create
</button>
<hr />
<div id="rowStudents">
    <div id="divStudents">
        <table id="tableStudents" class="table table-bordered" style="width 100%"></table>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="modalStudents" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Students</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        getStudents();
    });

    $("#create").click(function () {
        $("#modalStudents .modal-body", this).empty();
        $("#modalStudents .modal-body").load("/Students/Create");
        $("#modalStudents").modal("show");
    });

    function getStudents() {
        var $row = $('#rowStudents');
        $('#divStudents').remove();
        var $div = $('<div></div>');
        $div.addClass('table-responsive mb-5');
        $div.attr({ id: 'divStudents' });
        $div.addClass('divStudents mb-5');
        var $table = $("<table></table>");
        $table.addClass('table table-bordered display text-center');
        $table.attr({ id: 'tableStudents', width: '100%' });
        $div.append($table);
        $row.append($div);

        $.get('/Students/IndexJson').done(function (data) {
            $.notify("Load data", "info");
            console.table(data);

            table = $('#tableStudents').DataTable({
                data: data,
                "iDisplayLength": 10,
                "order": [[0, "desc"]],
                columns: [
                    { title: 'ID', data: 'ID', className: 'd-none' },
                    { title: 'LastName', data: 'LastName' },
                    { title: 'FirstMidName', data: 'FirstMidName' },
                    { title: 'EnrollmentDate', data: 'EnrollmentDateFormat' },
                    { title: 'Options', data: null }
                ],

                columnDefs: [
                    {
                        targets: 4,
                        render: function (data, type, row) {
                            return '<a href="javascript:void" class="btn btn-warning edit fas fa-user-edit"></a>' +
                                '<a href="javascript:void" class="btn btn-danger delete fas fa-trash"></a>';
                        }
                    }
             

                ]
            });

            $('#tableStudents').on('click', 'tbody a.edit', function (e) {
                let id = $(this).parent().siblings('td')[0].innerText;

                $('#modalStudents .modal-body', this).empty();
                $('#modalStudents .modal-body').load('/Students/Edit/' + id);
                $("#modalStudents").modal("show");
            });

            $('#tableStudents').on('click', 'tbody a.delete', function (data) {
                let id = $(this).parent().siblings('td')[0].innerText;
                deleteStudent(id);
            });

        }).fail(function (data) {
            console.table(data);
        });
    }

    function deleteStudent(id) {
        $.get("/Students/Delete/" + id).done(function (data) {
            if (data.IsSuccess) {
                getCourses();
            } else {
                $.notify(data.Message, "error")
            }
        }).fail(function (data) {
            console.table(data);
        })
    }

</script>
