
@{
    ViewBag.Title = "Donut";
}

<h2>Donut</h2>

<div id="graph"></div>

<script>
    $(document).ready(function () {
        getData();
    });

    function getData() {
        $.get('/Dashboard/DonutJson').done(function (data) {

            Morris.Donut({
                element: 'graph',
                data:JSON.parse(data),
                formatter: function (x) { return x + "%" }
            }).on('click', function (i, row) {
                console.log(i, row);
            });



        }).fail(function (ex) {
            console.log(ex);
        });
    }


</script>

